body {
  color: black;
  background-color: black;
  padding: 8px;
  font-family: "Playfair Display", sans-serif;
}

body {
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: all 0.5s ease-out;
}

button {
  box-sizing: border-box;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  background-color: none;
  border: 2px solid black;
  color: black;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
  transition: 220ms all ease-in-out;
}
button:hover {
  background-color: black;
  color: white;
  border: white;
}
button:active{
  border: 4px;
}


.content{
  max-width: 500px;
  height: 650px;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.headers{
  font-family: "Shadows Into Light";
  font-size: 50px;
}

.main-text{
  font-family: "Playfair Display";
  font-size: 16px;
}

#image-att, 
#image-down{
  font-size: 12px;
  font-family: "Playfair Display";
  display: inline-flex;
  vertical-align: bottom;
  text-align: center;
}